{% extends 'base.html' %}

{%block title%}Zkracovač{%endblock%}

{% block obsah %}



<h1>Zkracovač</h1>
<form method="post">
    <p class= "url">
    Zadej URL: <br>
<input type="text" name ="url" style="width: 77;">
<button type = "submit">Zkrátit</button>
    </p>
</form>

{% if  new%}
<p>Nová zkratka:<a href="{{ new }}" >{{ new }}</a></p>
{% endif %}

<h2>Seznam uložených zkratek</h2>

<ul>
{% for zkratka, adresa in zkratky %}
    <li><a href="{{ url_for('dezkracovac', zkratka=zkratka) }}">{{ zkratka }}</a>  
        <a href="{{ adresa }}">{{ adresa }}</a></li>
{% endfor %}
</ul>

{% endblock obsah %}